:root {
  --primary: #9239c9;
  --secondary: #3972c9;
  --caution: #f04444;
  --success: #00b58b;
  --gray: #3a383a;
  --darkgray: rgb(56, 55, 55);
  --lightgray: #9a9797;
  --offWhite: #f1ecec;
  --lightWhiteColor: rgba(255, 255, 255, 0.53);
}
