.productInfoWrapper {
  width: 100%;
  display: flex;
  position: relative;
  height: calc(100vh - 50px);
}
.productDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 10px;
  overflow-y: scroll;
  //   background-color: rgb(222, 126, 43);
}
.header {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.info {
  font-size: 1.2rem;
  label {
  }
  p {
    display: inline;
    font-weight: 700;
  }
}

.imageWrapper {
  text-align: center;
}
.productTitle {
  margin: 10px 0;
}
.productDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.productPrice {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: var(--gray);
}
.ownershipTimelineWrapper {
  display: flex;
  width: 40%;
  flex-direction: column;
  position: sticky;
  top: 0px;
  right: 0;
  height: 90vh;
  overflow-y: scroll;
  align-items: center;
}

.transferOwnershipWrapper {
  padding: 20px 10px;
  width: 100%;
  width: 500px;
  height: 100%;
  .sendToInformationWrapper {
    display: flex;
    width: 100%;
    // background-color: red;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 30px 0;
    .imageWrapper {
      width: 100px;
      height: 100px;
      background-color: lightgray;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 10px 0 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .infoWrapper {
      width: 70%;

      table {
        // background-color: lightblue;
        width: 70%;
        border-spacing: 0 0.7em;
        text-align: center;
        td {
          padding: 5px;
        }
        .label {
          font-weight: 600;
          color: var(--lightgray);
        }
        .value {
          font-weight: 600;
        }
      }
    }
  }
  .inputGroup {
    display: flex;
    justify-content: space-between;
    border-radius: 700px;
    padding: 0 10px 0 0;
    flex-direction: row;
    input {
      margin: 0;
      width: 90%;
    }
    .searchBtn {
      font-size: 1.3rem;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      margin-left: 10px;
    }
  }
  .actionsBtnWrapper {
    // color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0 auto;
  }
}
