.rectangle {
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 100%;
  min-width: 300px;
  padding: 0 2rem;
  min-height: 40px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem;
}

.rectangle.primary {
  background-color: var(--primary);
}

.rectangle.caution {
  background-color: var(--caution);
}

.rectangle.success {
  background-color: var(--success);
}
