.heading {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 1rem;

  &::after {
    content: "";
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    background-color: var(--primary);
    transform: translateX(-50%);
  }
}
