.transaction-card {
  max-width: 100%;
  padding: 1rem;
  width: 800px;
  border: 1px solid #d9d9d9;
  background-position: center;
  background-size: cover;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;

  .highlight {
    color: var(--primary);
  }

  &:hover {
    border: 1px solid var(--primary);
    cursor: pointer;

    .details {
      .right {
        .transaction-details {
          border: 1px solid var(--primary);
        }
      }
    }
  }

  .details {
    padding: 1rem;
    flex: 1;
    display: flex;

    .left {
      flex: 1;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      // justify-content: center;

      & > div {
        margin-top: 0.5rem;
      }

      .id {
        margin-top: 0rem;
      }
    }

    .right {
      flex: 1;
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      .cost {
        color: var(--success);
        font-weight: bold;
      }

      .type {
        font-weight: bold;
        color: var(--caution);
      }

      .transaction-details {
        width: 180px;
        min-width: 0;
        font-weight: 400;
        border: 1px solid #d9d9d9;
        font-size: 0.8rem;
        min-height: 0;
        height: 30px;
        margin: 0;
      }

      @media screen and (max-width: 625px) {
        & {
          display: none;
        }
      }
    }
  }

  .prod-img {
    height: 100px;
    width: 100px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #d9d9d9;
  }

  h3,
  h4 {
    margin: 0.5rem 0;
  }
}
