.circular-button {
  margin: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
